body {
  margin:0;
  background:#020617;
  color:#e5e7eb;
  font-family: monospace;
}

header {
  text-align:center;
  padding:70px 20px;
  background:#020617;
}

h1 { font-size:3rem; margin:0; }
.role { color:#94a3b8; }
.typing { color:#22c55e; margin-top:10px; }

nav {
  display:flex;
  justify-content:center;
  gap:30px;
  padding:15px;
  background:#020617;
  position:sticky;
  top:0;
}

nav a { color:#38bdf8; text-decoration:none; }

section {
  max-width:1100px;
  margin:auto;
  padding:60px 30px;
}

h2 { color:#22c55e; }

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap:25px;
}

.card {
  background:#020617;
  border:1px solid #020617;
  padding:25px;
  border-radius:12px;
  transition:.3s;
}

.card:hover {
  transform:translateY(-5px);
  border-color:#22c55e;
}

.terminal {
  background:#020617;
  border-top:1px solid #020617;
  border-bottom:1px solid #020617;
  padding:30px;
  font-size:14px;
  color:#22c55e;
  min-height:200px;
}

ul li {
  background:#020617;
  margin:10px 0;
  padding:12px;
  border-radius:10px;
}

footer {
  text-align:center;
  padding:30px;
  color:#94a3b8;
}
